<p>
  <strong>  <%= @todo_item.title %> </strong>
</p>

<p>
  Author: <%= @todo_item.author %> 
<p>

<p>
  Status: <%= link_to @todo_item.is_done ? "done" : "not done", change_status_todo_item_path(@todo_item.id), method: :patch %> 
<p>

<p>
  <%= @todo_item.description %> 
<p>