<p>
  <strong>
    <h1>
      To Do List for 
      <%= @author.name %>
    </h1>
  </strong>
</p>

<%= button_to "Update Name", change_name_author_path(@author.id), method: :get %>

<div id="todo_items_wrapper">
 <%= render @author.todo_items %>
</div>

<%= button_to "New Item", new_author_todo_item_path(@author), method: :get %>